# 머신러닝 전처리

## 개요
1. 가공데이터 (전처리)
2. 결측치
3. 이상치
4. 범주형 데이터

### 가공데이터 (전처리)

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import os
import pandas as pd
import numpy as np

In [2]:
# 아파트 관련 데이터
df1 = pd.read_csv("C:/Users/USER/classnote/머신러닝전처리/데이터/2019년_서울_아파트매매_실거래가.csv", encoding = "cp949")
df2 = pd.read_csv("C:/Users/USER/classnote/머신러닝전처리/데이터/2019년_서울시_아파트주소.csv", encoding = "cp949")

In [3]:
df1.head()
df2.head()

         거래일자  법정동      도로명     아파트   층   전용면적  건축년도   거래금액
0  2019-10-05  면목동     용마산로      현대   2  84.81  1994  52000
1  2019-10-07  면목동     중랑천로      신성   5  59.91  1998  37000
2  2019-10-09  면목동     용마산로      현대  19  84.09  1994  57500
3  2019-10-10  면목동  사가정로41길  동원베네스트   5  84.86  2003  56000
4  2019-10-14  면목동     용마산로      현대   9  72.63  1994  50500

  시군구명   읍면동명      도로명   건물명          경도         위도
0  종로구    신교동     필운대로   월드빌  126.966744  37.586644
1  종로구    숭인동    숭인동1길  삼성타운  127.017780  37.579576
2  종로구    숭인동   숭인동1나길  삼성타운  127.018026  37.579582
3  종로구    평창동     평창6길   월드빌  126.973484  37.620055
4   중구  장충동1가  장충단로6가길  삼우빌라  127.006113  37.563739

In [4]:
df1.columns
df2.columns

Index(['거래일자', '법정동', '도로명', '아파트', '층', '전용면적', '건축년도', '거래금액'], dtype='object')

Index(['시군구명', '읍면동명', '도로명', '건물명', '경도', '위도'], dtype='object')

In [5]:
# 데이터 병합
df = pd.merge(df1, df2, left_on=['법정동', '도로명', '아파트'], right_on=['읍면동명', '도로명', '건물명'])

In [7]:
df3 = pd.read_excel("C:/Users/USER/classnote/머신러닝전처리/데이터/지하철역_위경도.xlsx")

#### 아파트별로 가까운 지하철역을 특정한다.

In [8]:
# 아파트명과 역명을 index로 설정
df.set_index(['아파트'], inplace=True)
df3.set_index(['역명'], inplace=True)

In [9]:
df.head(1)
df3.head(1)

,거래일자,법정동,도로명,층,전용면적,건축년도,거래금액,시군구명,읍면동명,건물명,경도,위도
아파트,,,,,,,,,,,,
동서그랜드맨션,2019-10-23,면목동,겸재로,4,131.34,1993,43000,중랑구,면목동,동서그랜드맨션,127.075856,37.588817

                위도          경도
역명
가양역[9호선]  37.56156  126.854261

In [11]:
# 아파트에 대한 데이터에서 위도와 경도 컬럼을 저장해줍니다.
df_location = df[['위도', '경도']]
df3_location = df3[['위도', '경도']]

In [12]:
!pip install haversine

Requirement already satisfied: haversine in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (2.8.0)

WARNING: There was an error checking the latest version of pip.

In [13]:
# 거리행렬 생성
from scipy.spatial.distance import cdist
from haversine import haversine

In [16]:
# df_location과 df3_location을 이용해서 아파트와 지하철역 사이의 곡선 거리 구하기
dist_mat = cdist(df_location, df3_location, metric=haversine)

In [17]:
pd.DataFrame(dist_mat)

,0,1,2,3,4,5,6,7,8,9,...,973,974,975,976,977,978,979,980,981,982
0,19.762522,35.495922,19.273176,36.018632,19.014585,36.962609,38.204096,39.467461,35.518259,35.389398,...,143.829390,139.582189,138.862361,145.454990,138.474263,139.445401,143.771649,139.352124,144.944825,137.563960
1,20.608751,36.274324,20.126991,36.790135,19.881783,37.728413,38.979627,40.243344,36.358531,36.221743,...,144.115828,139.884731,139.192255,145.722388,138.808812,139.762588,144.045212,139.676428,145.216894,137.899650
2,21.371971,37.108271,20.878787,37.629195,20.610208,38.571495,39.815775,41.079247,37.129416,37.003017,...,143.582420,139.365369,138.697201,145.172823,138.317984,139.256134,143.500869,139.176329,144.671260,137.409888
3,21.371971,37.108271,20.878787,37.629195,20.610208,38.571495,39.815775,41.079247,37.129416,37.003017,...,143.582420,139.365369,138.697201,145.172823,138.317984,139.256134,143.500869,139.176329,144.671260,137.409888
4,21.371971,37.108271,20.878787,37.629195,20.610208,38.571495,39.815775,41.079247,37.129416,37.003017,...,143.582420,139.365369,138.697201,145.172823,138.317984,139.256134,143.500869,139.176329,144.671260,137.409888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,3.532342,19.788659,3.011669,20.389016,2.862383,21.390779,22.497531,23.743468,19.281026,19.187391,...,145.337631,140.817458,139.583554,147.306303,139.109069,140.404644,145.519820,140.176592,146.713026,138.183475
1479,9.030840,25.377169,8.406691,25.994400,7.863707,27.004938,28.075225,29.311438,24.467594,24.456060,...,141.768604,137.317983,136.226976,143.646235,135.776458,136.981820,141.885510,136.791513,143.074744,134.853929
1480,9.030840,25.377169,8.406691,25.994400,7.863707,27.004938,28.075225,29.311438,24.467594,24.456060,...,141.768604,137.317983,136.226976,143.646235,135.776458,136.981820,141.885510,136.791513,143.074744,134.853929
1481,9.030840,25.377169,8.406691,25.994400,7.863707,27.004938,28.075225,29.311438,24.467594,24.456060,...,141.768604,137.317983,136.226976,143.646235,135.776458,136.981820,141.885510,136.791513,143.074744,134.853929
1482,9.030840,25.377169,8.406691,25.994400,7.863707,27.004938,28.075225,29.311438,24.467594,24.456060,...,141.768604,137.317983,136.226976,143.646235,135.776458,136.981820,141.885510,136.791513,143.074744,134.853929

In [19]:
pd.DataFrame(dist_mat).loc[682].min()  # 특정 행에서 가장 작은 값 출력

0.5240963903778368

In [20]:
df_test = pd.DataFrame(dist_mat, columns=df3.index, index=df.index)
df_test.head()

역명,가양역[9호선],완정역[2호선],증미역[9호선],마전역[2호선],등촌역[9호선],검단사거리역[2호선],왕길역[2호선],검단오류(검단산업단지)역[2호선],서구청역[2호선],아시아드경기장(공촌사거리)역[2호선],...,중구청역[1호선],정부청사역[1호선],구암역[1호선],판암역[1호선],현충원역[1호선],갑천역[1호선],대동역[1호선],유성온천역[1호선],신흥역[1호선],월드컵경기장역[1호선]
아파트,,,,,,,,,,,,,,,,,,,,,
동서그랜드맨션,19.762522,35.495922,19.273176,36.018632,19.014585,36.962609,38.204096,39.467461,35.518259,35.389398,...,143.829390,139.582189,138.862361,145.454990,138.474263,139.445401,143.771649,139.352124,144.944825,137.563960
킴스아파트,20.608751,36.274324,20.126991,36.790135,19.881783,37.728413,38.979627,40.243344,36.358531,36.221743,...,144.115828,139.884731,139.192255,145.722388,138.808812,139.762588,144.045212,139.676428,145.216894,137.899650
면목동2차미소지움아파트,21.371971,37.108271,20.878787,37.629195,20.610208,38.571495,39.815775,41.079247,37.129416,37.003017,...,143.582420,139.365369,138.697201,145.172823,138.317984,139.256134,143.500869,139.176329,144.671260,137.409888
면목동2차미소지움아파트,21.371971,37.108271,20.878787,37.629195,20.610208,38.571495,39.815775,41.079247,37.129416,37.003017,...,143.582420,139.365369,138.697201,145.172823,138.317984,139.256134,143.500869,139.176329,144.671260,137.409888
면목동2차미소지움아파트,21.371971,37.108271,20.878787,37.629195,20.610208,38.571495,39.815775,41.079247,37.129416,37.003017,...,143.582420,139.365369,138.697201,145.172823,138.317984,139.256134,143.500869,139.176329,144.671260,137.409888

In [ ]:
# df_test = pd.read_csv('./데이터/거리행렬.csv')
# index 로 정의할 column 명시해서 읽어오기 :  index_col=번호 index
df_test = pd.read_csv('./데이터/거리행렬.csv', index_col=0)
df_test.head(2)